
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/*caja para poner limites*/
.card{

    margin: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1); 
    padding: 5px;
    background-color: #ffffff;
    color: #000;
    width: auto;
    
}

.txleft{
    margin: 10px;
    border: 1px solid #ffffff; 
    padding: 5px;
    background-color: #ffffff;
    text-align: left;

}

.txrigth{
    margin: 10px;
    border: 1px solid #ffffff; 
    padding: 5px;
    background-color: #ffffff;
    text-align: right;
}

h2{

    text-align: center;
}

section{
    display: grid;
}

.imgrigth{

    float: right;

}

.imgleft{

    float: left;

}

.box1{

    border: 1px solid rgba(0, 0, 0, 0.1); 
    background-color: #003049;
    color: aliceblue;
}

.box2{
    margin: 1rem;
    border: 1px solid rgb(255, 255, 255); 
    padding: 1rem;
    background-color: black;
    color: aliceblue;
}

main{

    display: grid;
    align-items: center;

}
/*Mis fuentes de txt*/
.romanesco-regular {
    font-family: "Romanesco", system-ui;
    font-weight: 400;
    font-style: normal;
}

.road-rage-regular {
    font-family: "Road Rage", system-ui;
    font-weight: 400;
    font-style: normal;
}


.nosubraya { /*Aqui se quitara el subrayado a los links*/

    text-decoration: none;

}


/*Navegacion */

nav {
	background-color: black;
	margin: 0 auto;
	max-width: auto;
}
nav ul {
	list-style-type: none;
}
nav a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 1rem;
	text-decoration: none;
}

nav a:hover{
	text-decoration:overline;
}

.linea{
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: left;
}

.rigth {
    margin: 10px;
    padding: 10px;
    grid-column: 2/2;
    
}

.left {

    margin: 10px;
    padding: 10px;
    grid-column: 1/2;
    
}


footer { 

    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

nav ul {
        display: flex;
    }
	
nav ul li  {
		flex: 1 1 100%;
	
    }


/*section img {
    float: right;
}*/