
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/*caja para poner limites*/
.card{
    margin: auto;
    border: 1px solid rgba(0, 0, 0, 0.1); 
    padding: auto;
    background-color: #ffffff;
    color: #000;
    
}



.box1{

    border: 1px solid rgba(0, 0, 0, 0.1); 
    background-color: #003049;
    color: aliceblue;
}

.box2{
    margin: 1rem;
    border: 1px solid rgb(255, 255, 255); 
    padding: 1rem;
    background-color: black;
    color: aliceblue;
}

main{

    grid-column: 1/2;
    margin: 1rem;

}
/*Mis fuentes de txt*/
.romanesco-regular {
    font-family: "Romanesco", system-ui;
    font-weight: 400;
    font-style: normal;
}

.road-rage-regular {
    font-family: "Road Rage", system-ui;
    font-weight: 400;
    font-style: normal;
}


.nosubraya { /*Aqui se quitara el subrayado a los links*/

    text-decoration: none;

}


section{
    width: 20em;
    text-align: center;
    position: relative;
}

/*Navegacion */

nav {
	background-color: black;
	margin: 0 auto;
	max-width: 800px;
}
nav ul {
	list-style-type: none;
}
nav a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 1rem;
	text-decoration: none;
}

nav a:hover{
	text-decoration:overline;
}

.linea{
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: left;
}

.rigth {
    margin: 10px;
    padding: 10px;
    position:relative;
    grid-column: 2/2;
    
}

.left {

    margin: 10px;
    padding: 10px;
    position:relative;
    grid-column: 1/2;
    
}


footer { 

    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

@media (min-width: 640px) {
	nav ul {
		display: flex;
	}
	nav ul li {
		flex: 1 1 100%;
	}
}

section img {
    float: right;
}